<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfolio</title>
        <link rel="stylesheet" href="/css/index.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
        <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    </head>
    <body>



        <header>
            <div class="links">
                <a href="/" class="active">Instructors</a>
                <a href="members">Members</a>


            </div>
        </header>




{% include 'instructors/fields.njk'%}

<form id="form-delete" action="/instructors?_method=DELETE" method="post">
    <input type="hidden" name="id" value={{instructor.id}}>
    <button type="submit" >Deletar</button>
</form>

    </body>
</html>
</div>