<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfolio</title>
        <link rel="stylesheet" href="css/index.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
        <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    </head>
    <body>

        <header>
            <div class="links">
                <a href="/members">Instructors</a>
                <a href="/members"  class="active">Members</a>


            </div>
        </header>




<div class="card">







   <section
   class="avatar" 
    style="width: 400px; height: 550px; background: '{{member.avatar_url}}' no-repeat center center / cover "></section>
   </section>
   
    <section class="details">


<form method="POST" action="/members">
 

        <h3>Novo Membro</h3>

    <div class="item">
        <div>Avatar URL</div>
        <div>
    <input
         type="url"
         name="avatar_url"
         placeholder="http://"
         value="{{member.avatar_url}}"
    >
         </div>
    </div>



    <div class="item">
        <div>Nome</div>
        <div><input
         type="text"
         name="name"
         value="{{member.name}}"
         >
         </div>
    </div>


    <div class="item">
        <div>Email</div>
        <div><input
         type="email"
         name="name"
         value="{{member.name}}"
         >
         </div>
    </div>



    <div class="item">
        <div>Data de Nascimento</div>
    <div>
            <input type="date" name="birth" value="{{member.birth}}">
            
    </div>
        </div>



    <div class="item">
        <div>Sexo</div>
        <div>
                    {#  caixas de marcação masculino // feminino #}
            <span><input 
        type="radio" 
        name="gender" 
        value="M" 
                {% if member.gender == 'M' %}
                     checked
                {% endif %}
                        >Masculino</span>
                        <span><input 
        type="radio" 
        name="gender" 
        value="F"
            {% if member.gender == 'F' %}
            checked
            {% endif %}
            >Feminino</span>
        </div>
    </div>

   <div class="item">
        <div>Tipo Sanguíneo</div>
    <div>
<select name="blood">
    <option value="A1">A+</option>
    <option value="A0">A-</option>
    <option value="B1">B+</option>
</select>            
    </div>
        </div>
  


<button type="submit">Salvar</button>






</form>






</section>

</div>




    </body>
</html>
</div>